@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/Source-Code-Pro-Regular.woff2") format("woff2");
  }
}
:root {
  --nav-height: 56px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.min-vh {
  min-height: calc(100vh - var(--nav-height));
}

.below-nav {
  top: var(--nav-height);
}
.dark .toaster-progress {
  background: theme("colors.primary-dark") !important;
}

.toaster-progress {
  background: theme("colors.primary") !important;
}
