:root {
  --primary-color: 16, 107, 243; /*rgb(16, 107, 243); */
  scroll-behavior: smooth;
}
* {
  margin: 0;
}

body {
  font-family: "Roboto Mono", monospace;
}
a {
  text-decoration: none;
  color: black;
  user-select: none;
  -ms-user-select: none;
}
.period {
  color: rgb(var(--primary-color)) !important;
}

::-webkit-scrollbar{
  height : 5px;
  width : 7px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(var(--primary-color));
  border-radius: 5px;
}