#skills {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.skills-heading {
  text-align: center;
  font-size: 40px;
  margin: 10px auto;
  font-weight: bold;
}

.skills-text {
  margin: 1rem 2rem;
  max-width: 800px;
}

.MuiLinearProgress-root {
  height: 20px !important;
}

.skills-container {
  max-width: "800px";
  margin-top: "1rem";
  display: "flex";
  justify-content: "space-evenly";
  flex-wrap: "wrap";
}

.skill-container-component {
  background-color: rgb(var(--primary-color), 0.5);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.skill-container-component:hover{
  background-color: rgb(var(--primary-color), 0.6);
  cursor: pointer;
}
.skill-container-component-logo {
  height: 50px;
}
.skill-container-component-name{
  margin-top: 1rem;
}