#skills {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid rgb(var(--primary-color), 0.6);
  min-height: 100vh;
}
.skills-heading {
  text-align: center;
  font-size: 40px;
  margin: 10px auto;
}

.skills-text {
  margin: 1rem 2rem;
  max-width: 800px;
}

.MuiLinearProgress-root {
  height: 20px !important;
}
