#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}
.header-logo {
  font-size: 2em;
  font-weight: bold;
  color: rgb(var(--primary-color));
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
}
ul {
  list-style-type: none;
}
.header-items {
  display: flex;
  flex-direction: row;
  margin-right: 3px;
  font-size: 20px;
}
.header-items > * {
  padding: 10px;

  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.header-items > *:hover {
  background-color: rgb(var(--primary-color));
  color: white;
  cursor: pointer;
}
.collapsed-header-items > * {
  padding: 10px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.collapsed-header-items {
  padding: 0;
}
.collapsed-header-items > *:hover {
  background-color: rgb(var(--primary-color));
  color: white;
  cursor: pointer;
}
.MuiDrawer-paper{
  justify-content: center;
}