#about {
  /* height: 2000px; */

  background-color: #444444;
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  
}
@media(max-width: 450px) {
  .description{
    padding-right: 25px;
  }
}
.heading span {
  margin: 0;
  /* border-bottom: 2px solid #ddffee; */
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 1px;
}
#about .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about .bar {
  position: relative;
  display: inline-block;
  height: 1px;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
#about .bar-second {
  height: 3px;
  width: 50px;
  background-color: #f2c640;
}
.about {
  width: 100vw;
  padding: 10px;
  max-width: 800px;
}
.description {
  /* width: 100vw; */
  font-size: 20px;
  letter-spacing: 1px;
  margin: 20px;
}
.my-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myimage {
  max-height: 400px;
  max-width: 350px;
}
.image-head-text {
  color: #dac177;
  font-size : 23px;
  font-weight: 600;
  letter-spacing: 1px;  
}
.image-sub-text {
  color: #d6c799;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding: 10px;
}
ul {
  list-style-type: none;
  padding:10px;
}
.points{
  display: flex;
  align-items: center;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px;
  word-wrap: break-word;
  border-top: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
}
.arrow-right {
  fill: #f2c640 !important;
}