#projects {
  height: 2000px;
  background-color: #666666;
}
#projects .heading {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
#projects .bar {
  position: relative;
  display: inline-block;
  height: 1px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
#projects .bar-second {
  height: 3px;
  width: 66px;
  background-color: #f2c640;
}
