.layout {
    /* height: 1000px; */
    width: auto;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
}
.controls-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}