#resume {
  /* height: 2000px; */
  background-color: #888888;
  padding-bottom: 30vh;
}
#resume .heading {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin-bottom: 40px;
}
#resume .bar {
  position: relative;
  display: inline-block;
  height: 1px;
  width: 175px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
#resume .bar-second {
  height: 3px;
  width: 60px;
  background-color: #f2c640;
}

#resume .resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resume .resume-render {
  padding: 3vh;
  min-width: 90vh;
  min-height: 100vh;
}

#resume .doc-cont {
  box-shadow: 10px 10px 49px 24px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 49px 24px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 49px 24px rgba(0,0,0,0.75);
}
